<div class='main admin toppage' ng-contollrt="AdminFormController">
  <div class="questions">
    <div class="question col-xs-12">
      <h4>表示</h4>
      調査一覧表示: <input type="checkbox" ng-model="isShow"></input>
    </div>
    <div class="question col-xs-12">
      <h4>title</h4>
      <input class="form-control" placeholder="title" ng-model="title"></input>
    </div>
    <div class="question col-xs-12">
      <h4>description</h4>
      <textarea class="form-control" placeholder="description" rows=5 ng-model="description"></textarea>
    </div>
    <div class="question col-xs-12">
      <h4>image</h4>
      <input class="form-control" placeholder="http://hogehoge" ng-model="image"></input>
    </div>
    <div class="question col-xs-12">
      <h4>image count</h4>
      <input class="form-control" placeholder="50" ng-model="imageCount"></input>
    </div>
    <div class="question col-xs-12">
      <h4>answer limit</h4>
      <input class="form-control" placeholder="10" ng-model="limit"></input>
    </div>
    <div class="question col-xs-12">
      <h4>question</h4>
      <textarea class="form-control" rows=3 placeholder="かわいいのはどれ？" ng-model="anyQuestions"></textarea>
    </div>
    <div class="question col-xs-12">
      <h4>sex</h4>
      <!-- <textarea class="form-control" rows=3 ng-model="sex"></textarea> -->
    </div>
    <!-- <div class="question col-xs-12">
      <h4>age</h4>
    </div> -->
    <div class="question addquestion col-xs-12" ng-repeat="aq in addquestions">
      <h4>追加質問{{aq.id}}</h4>
      <h5>質問</h5>
      <input class="form-control" placeholder="どっち派？" ng-model="aq.title"></input>
      <h5>選択肢</h5>
      <textarea class="form-control" rows=3 placeholder="ビール&#13;&#10;日本酒&#13;&#10;焼酎" ng-model="aq.choices"></textarea>
    </div>

    <div class="question col-xs-12">
      <button class="addbtn btn btn-success col-xs-12" ng-click='add()'>add</button>
    </div>

    <div class="question col-xs-12">
      <h4>フリーアンサー</h4>
      フリーアンサー表示: <input type="checkbox" ng-model="FA"></input>
      <h5>質問</h5>
      <input class="form-control" placeholder="あなたにとってかわいいとは？" ng-model="FATitle"></input>
    </div>



  </div>
  <button class="addbtn btn btn-info col-xs-12" ng-click='save(1)'>Save</button>
</div>
